.todoForm {
  border-radius: 8px;
  background-color: white;
  width: 500px;
  margin: 0% auto;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.1);
}
.input {
  border: none;
  display: block;
  width: 100%;
  font-size: large;
  padding: 6px;
}
.input:focus {
  outline: none;
}
.btn {
  border: navy;
  background-color: #f7ca18;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.1);
  cursor:pointer;
}
.input:hover{
    background-color: rgb(240, 233, 233);
    border-radius: 8px 0px 0px 8px;
    cursor:pointer;
}
